.videoDiv{
  perspective: 10vw;
}
.calculatorScreen {
  width: 1.7vw;
  height: 0.6vw;
  background: rgba(240,0,0,0.8);
  position: absolute;
  top: 18.4vw;
  left: 57.21vw;
  animation-name: calculatorScreen;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes calculatorScreen {
  0%{
    background: rgba(240,0,0,0.8);
  }
  100%{
    background: rgba(240,0,0,0);
  }
}

.solidCodeUsBlog{
  display: flex;
}

.steam {
  width: 3vw;
  height: 4vw;
  position: absolute;
  top: 15vw;
  left: 28vw;
  background-size: 100% 100%;
  background-image: url('../images/desktop/aboutUs/steamOne.png');
  opacity: 1;
  animation-name: steam;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes steam {
  0%{
    opacity: 0.3;
    transform: rotateY(0deg);
  }
  100%{
    opacity: 1;
        transform: rotateY(31deg);
  }
}

.steamTwo{
  width: 3vw;
  height: 4vw;
  position: absolute;
  top: 15vw;
  left: 28vw;
  background-size: 100% 100%;
  background-image: url('../images/desktop/aboutUs/steamTwo.png');
  opacity: 1;
  animation-name: steam;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 1s;
}

.steamThree {
  width: 5vw;
  height: 6vw;
  position: absolute;
  top: 12.5vw;
  left: 41.5vw;
  background-size: 100% 100%;
  background-image: url('../images/desktop/aboutUs/steamTwo.png');
  opacity: 1;
  animation-name: steamThree;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction:  normal;
}

@keyframes steamThree {
  0%{
    height: 6vw;
    top: 12.5vw;
    opacity: 0;
    transform: rotateY(0deg);
  }
  50%{
    height: 7vw;
    top: 11.5vw;
    opacity: 1;
    transform: rotateY(25deg);
  }
  100%{
    height: 7vw;
    top: 11.5vw;
    opacity: 0;
    transform: rotateY(25deg);
  }
}
