
.bannerAnimArrow{
  top: 41vw;
  position: absolute;
  width: 1.4px;
  height: 11.11vw;
  background-color: rgb(193,74,51);
  margin-left: 50%;
  animation-name: bannerAnimArrow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.bannerAnimInnerArrow{
  position: absolute;
  bottom: -5px;
  left: -5px;
  transform: rotate(-45deg);
  width: 10px;
  height: 10px;
  border-bottom: 1px solid rgb(193,74,51);
  border-left: 1px solid rgb(193,74,51);
}
@keyframes bannerAnimArrow{
  0%{
    height: 1vw;
  }
  100%{
    height: 11.11vw;
  }
}

.mobileParrot{
  width: 30.29vw;
  height: 57.85vw;
  position: absolute;
  bottom: -8vw;
  left: 18.7vw;
}

.mobileVid{
  background-image: url('../images/desktop/mobileVid.png');
  width: 45.407vw;
  height: 70vw;
  background-size: 100% 100%;
  position: absolute;
  right: 6.5vw;
  bottom: -20vw;
}
@media screen and (max-width:1366px) and (min-width:760px) {

}
.mobileVideoDiv{
  overflow: hidden;
  border-radius: 0.5vw;
  position: relative;
  width: 28.65vw;
  height: 50vw;
  top: 7.7vw;
  left: 7.5vw;
}
.webDevelopment{
  transition: 2s;
  margin-top: 34.15vw;
  left: -30vw;
  position: absolute;
  bottom: 6vw;
}

.webDevelopment p{
  font-size: 5.925vw;
  margin: 0;
  color: white;
}
.webDevelopment p:nth-child(1){
  margin-bottom: -1.2vw;
  font-family: 'Roboto-Thin';
  font-weight: 100;
}
.webDevelopment p:nth-child(2){
  font-family: 'Roboto-Black';
}
/* header end */
/* main start */
main{
  position: relative;
}
.narrowWrapper{
  position: absolute;
  top: -6vw;
  left:0;
  width: 100%;
  overflow:hidden;
  height: 6vw;
}
.narrowBG{
  box-shadow: 1.7vw 7px 50px -30px rgba(0,0,0,0.75);
  height: 200vw;
  width: 56vw;
  position: absolute;
  background-color: #e0ddeb;
  transform: rotate(18deg);
  top: -15vw;
  left: -36vw;
}
.homeDesign{
  position: relative;
  left: 4vw;
  top: 4vw;
}
.homeDesign a,.homeDesign span{
  font-family: 'Roboto-Bold';
  color: white;
  text-decoration: none;
  font-size: 1.2vw;
}
.homeDesign a:hover{
  text-decoration: underline;
}
/* recent work start */
.rectWorkImageBox{
  border-top: 2.814vw solid white;
  display: flex;
  width: 100%;
}
.recentWorkImages{
  transition: 1s;
  width: 100%;
  height:100%;
}

.imgBox{
  position: relative;
  overflow: hidden;
  width: 33.33%;
  height: 21.2vw;
}
.imgBox:hover{
  cursor: pointer;
}
.imgBox::before{
  transition: 1s;
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0,0.7);
}
.imgBox:hover:before{
  background-color: rgb(0,0,0,0.3);
}

.imgBox::after{
  content: '';
  display: block;
  background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0) 100%);
  position: absolute;
  width: 20%;
  height: 220%;
  top:-160%;
  left: 10%;
  transition: 2s;
  transform: rotate(45deg);
}
.imgBox:hover:after{
  top:100%;
  left:100%;
}
/* recent work end */
/* main end */
/* whatwe do text section */
.whatWeDoTextSection{
  padding: 0.1px;
  text-align: center;
  position: relative;
}

.whatWeDoTextSection p{
  font-family: 'Roboto-Light';
  font-size: 2.666vw;
  margin-top: 11.333vw;
}

.whatWeDoHtwo{
  font-family: 'Roboto-Bold';
  text-align: center;
  margin-top: 11.777vw;
  margin-bottom: 4.888vw;
  font-size: 3.555vw;
}
.whatWeDoHtwo h2{
  font-family: 'Roboto-Regular';
}

/* what we do section start */
/* four image grid */
.fourImgGrid{
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 200vh;
  /* grid-gap: 5px; */
}
.fourImgGrid>div{
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.gridImgBox{
  transition: 1s;
  margin-top: 0;
  margin-left: 0;
  width: 100%;
  height: 100%;
}
.gridImg{
  width: 100%;
  height: 100%;transition: 1s;
  margin-top: 0%;
  margin-left: 0%;
}
.gridImgBox::after{
  content: '';
  display: block;
  background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0) 100%);
  position: absolute;
  width: 20%;
  height: 220%;
  top:-160%;
  left: 10%;
  transition: 2s;
  transform: rotate(45deg);
}
.gridImgBox:hover:after{
  top:100%;
  left:100%;
}

.gridParaBox{
  position: absolute;
  bottom: 5vw;
  left: 2.4vw;
}

.gridParaBox p:nth-child(1){
  margin: 0;
  font-family: 'Roboto-Thin';
  font-weight: 100;
  color: white;
  font-size: 4.7vw;
}
.gridParaBox p:nth-child(2){
  margin: 0;
  font-family: 'Roboto-Bold';
  color: white;
  font-size: 4.7vw;
}

.gear {
  width: 10%;
  height: 8vh;
  background-image: url('../images/desktop/SEO/gearOne.png');
  background-size: 100% 100%;
  position: absolute;
  left: 48.5%;
  top: 15vh;
  transform: rotate(0deg);
  animation-name: gear;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes gear {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.blackTextLayer{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,0);
  transition: 1s;
}
.blackLayerInside{
  transition: 1s;
  color: white;
  position: absolute;
  width:90%;
  height: 90%;
  top: 5%;
  left: 5%;
  opacity: 0;
}
.blackLayerInside h2{
  margin-top: 3vw;
  margin-bottom: 7vh;
  font-size: 3.2616vw;
  font-family: 'Montserrat-Black';
}
.blackLayerInside h2 span{
  font-family: 'Montserrat-Light';
}
.blackLayerInside p{
  width: 37vw;
  font-size: 1.535vw;
  font-family: 'Montserrat-Regular';
  text-align: justify;
}

.readMoreDiv{
  font-family: 'Montserrat-Bold';
  font-size: 1.635vw;
  position: absolute;
  bottom: 4vh;
  right: 6vw;
}
.readMoreDiv:hover{
  cursor: pointer;
}
.readMoreDiv h3{
  margin: 0;
  margin-top: 0.5vw;
  color: white;
}
.readMoreAnimDiv{
  transition: 0.4s;
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  border-radius: 2px;
  height: 0.27vw;
}
.readMoreAnimDivBlue{background: rgb(106,110,248);}
.readMoreAnimDivRed{background: rgb(209,46,34);}
.readMoreAnimDivYellow{background: rgb(180,169,57);}
.readMoreAnimDivPurple{background: rgb(102,52,175);}
/* four image grid */
/* what we do section end */
/* support and maintance start */
.supportAndMaintance{
  overflow: hidden;
  margin-top: 9.25vw;
  position: relative;
  min-height: 60.41vw;
  background: radial-gradient(ellipse at center, rgba(228,229,227,1) 0%, rgba(160,201,150,1) 91%, rgba(160,201,150,1) 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 250%;
}

.purpScreenDiv{
  position: relative;
  transition: 1s;
  transform-origin: 30vw center 0px;
  transform: matrix3d(0.87,0,0.50,0.0001,0.00,1,0.00,0,-0.5,0,0.87,0,0,0,0,1);
}
.purpScreen{
  transition: 1s;
  position: absolute;
  width: 37.353vw;
  height: 39.5vw;
  top: 1.6vw;
  left: 5vw;
}
.purpScreen:hover{
  filter: brightness(115%);
}
.purpleScreenGear{
  position: absolute;
  background-image: url("../images/desktop/maintenance/gear.png");
  width: 16vw;
  left: 18vw;
  height: 16vw;
  background-size: 100% 100%;
  top: 4vw;
  animation-name: purpleTabletGear;
  animation-duration: 160s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.purpleScreenGearRotate{
  transform: matrix3d(0.87,0,0.50,0.0001,0.00,1,0.00,0,-0.5,0,0.87,0,0,0,0,1);
}

.purpTabletDiv{
  position: relative;
  transform-origin: 20vw 0vw 0px;
  transform: matrix3d(0.87,0,0.50,-0.0001,0.00,1,0.00,0,-0.5,0,0.87,0,0,0,0,1);
  transition: 1s;
}
.purpTabletDiv:hover{
  filter: brightness(115%);
}
.purpTablet{
  position: absolute;
  width: 23vw;
  height: 34.86vw;
  top: 10.37vw;
  left: 2.6vw;
}
.purpleTabletGear{
  position: absolute;
  top: 17vw;
  left:6vw;
  background-image: url("../images/desktop/maintenance/gear.png");
  width: 16vw;
  height: 16vw;
  background-size: 100% 100%;
  animation-name: purpleTabletGear;
  animation-duration: 180s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: reverse;
}
@keyframes purpleTabletGear {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}


.supMain{
  position: absolute;
  right: 14.7vw;
  top: 4.2vw;
  height: auto;
}
.supMain h2{
  margin: 0;
  margin-top: 1vw;
  font-size: 5.925vw;
  font-family: 'Roboto-Thin';
  font-weight: 100;
}
.supMain h2 span{
  font-family: 'Roboto-Black';
  position: relative;
  top: -1vw;
}

.supMainText{
  font-family: 'Roboto-Regular';
  font-size: 1.4814vw;
  position: absolute;
  margin: 0;
  top: 18.9vw;
  right: 13.3vw;
}
.feedBackSingle{
  border: 1px solid rgb(162,202,152);
  background-color: rgba(162,202,152,0.3);
  position: absolute;
  bottom: 17.5vw;
  right: 9vw;
  padding-top: 1.186vw;
  padding-left: 1.11vw;
  padding-right: 1.111vw;
}

.imgNameFeedback{
  display: flex;
  align-items: center;
  font-family: 'Montserrat-Bold';
}
.imgNameFeedback img{
  margin-right: 0.8154vw;
  width: 4.077vw;
  height: 3.9288vw;
}
.imgNameFeedback p{
  font-size: 1vw;
  margin: 0;
}
.imgNameFeedback a{
  text-decoration: none;
}

.feedBackText{
  text-align: justify;
}
.feedBackText p{
  margin-left: 4.8924vw;
  font-size: 1.05vw;
  font-family: 'Roboto-Regular';
  line-height: 1.2;
  font-weight: 800;
}

.contactUsMaintenance{
  position: absolute;
  height: 4vw;
  right: 12.45vw;
  bottom: 10.5vw;
}
.contactUsMaintenance:hover{
  cursor: pointer;
}
.maintenanceLineAnim{
  transition: 1s;
  height: 0.27vw;
  width: 40%;
  background-color: rgb(244,173,14);
  border-radius: 2px;
}
.contactUsButtonText{
  display: flex;
  align-items: center;
  height: 3vw;
}
.contactUsButtonText h3{
  color: white;
  font-size: 1.879vw;
  font-family: 'Roboto-Bold';
  margin:0;
}
.svgArrow{
  width: 5vw;
  height: 5vw;
  transition: 1s;
  margin-top: 0.7vw;
  filter: brightness(100%);
}
/* support and maintance end */
/* technologies section start */
.technologies{
  overflow: hidden;
  padding-top: 0.1px;
  position: relative;
  height: 55.81vw;
  background: rgb(226,231,236);
}
/* .technoPhone{
  position: absolute;
  right: 0;
  top: 0vw;
  width: 63.146vw;
  height: 56vw;
} */
/* phone rules */
.mobileBotRight{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 36vw;
  height: 23vw;
}
.technoPhone{
  z-index: 1;
  position: absolute;
  width: 36vw;
  height: 62vw;
  background-size: 100% 100%;
  transform: rotate(45deg);
  right: 15vw;
  top: -7vw;
  background-image: url('../images/desktop/technologies/techPhoneEmpty.png');
}
/* node */
.nodeDiv{
  position: absolute;
  left: 5vw;
  top: 6vw;
  width: auto;
  height: auto;
}
.nodeDiv p{
  font-family: 'Montserrat-Light',serif;
  color: rgb(122,127,117);
  font-size: 0.9vw;
  text-align: center;
  position: relative;
  margin-top: -2vw;
}
.nodeJS{
  transition: 0.4s;
  position: relative;
  width: 9.11vw;
  height: 9.3vw;
}
.nodeJS:hover{
  filter: brightness(130%);
  cursor: pointer;
}
/* angular */
.angularDiv{
  position: absolute;
  left: 12.5vw;
  top: 6vw;
  width: auto;
  height: auto;
}
.angularJS{
  transition: 0.4s;
  width: 9.11vw;
  height: 9.3vw;
}
.angularDiv p{
  font-family: 'Montserrat-Light',serif;
  color: rgb(122,127,117);
  font-size: 0.9vw;
  text-align: center;
  position: relative;
  margin-top: -2vw;
}
.angularJS:hover{
  filter: brightness(130%);
  cursor: pointer;
}
/* react  */
.reactDiv{
  position: absolute;
  left: 19.7vw;
  top: 6vw;
  width: auto;
  height: auto;
}
.reactJS{
  transition: 0.4s;
  width: 9.11vw;
  height: 9.3vw;
}
.reactDiv p{
  font-family: 'Montserrat-Light',serif;
  color: rgb(122,127,117);
  font-size: 0.9vw;
  text-align: center;
  position: relative;
  margin-top: -2vw;
}
.reactJS:hover{
  filter: brightness(130%);
  cursor: pointer;
}
/* techno grid */
.technoMobileLittleGrid{
  position: absolute;
  width: 20vw;
  height: 18vw;
  top: 20vw;
  left: 7vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 5px;
}
.technoMobileLittleGrid img{
  transition: 0.4s;
}
.technoMobileLittleGrid img:hover{
  cursor:pointer;
  filter: brightness(120%);
}
/* wp */
.wp{
  background-color: rgb(122,63,232);
  grid-column: 1/3;
  grid-row: 1/3;
}
.wpImage{
  width: 100%;
  height: 110%;
  margin-top: -5%;
}
/* woocom */
.wooCom{
  background-color: rgb(122,63,232);
  grid-column: 1/4;
  grid-row: 3/4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wooImage{
  width: 15vw;
  height: 3vw;
}
/* drupal */
.drupal{
  overflow: hidden;
  grid-column: 3/4;
  grid-row: 1/2;
}
.drupalImage{
  width: 14vw;
  height: 14vw;
  position: relative;
  top: -4.5vw;
  left: -3.2vw;
}
/* magento */
.magento{
  overflow: hidden;
  grid-column: 3/4;
  grid-row: 2/3;
}
.magentoImage{
  width: 9vw;
  height: 9vw;
  position: relative;
  top: -1.5vw;
  left: -1vw;
}
/* techno flex */
.technoMobileFlexContainer{
  position: absolute;
  width: 20vw;
  top: 45.5vw;
  left: 7vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.technoFlexDiv{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.technoFlexDiv img{
  width: 4.8vw;
  height: 5vw;
}
.technoFlexDiv p{
  font-family: 'Montserrat-Light',serif;
  color: rgb(122,127,117);
  font-size: 0.9vw;
  text-align: center;
  position: relative;
  margin:0;
  margin-top: 0.2vw;
}
.codeIgnitor{
  transition: 0.7s;
  box-shadow: 0px 0px 4.56vw -0.9vw rgba(255,153,0,1);
  border-radius: 50%;
}
.codeIgnitor:hover,.laravel:hover{
  cursor: pointer;
  box-shadow: 0px 0px 4.56vw -0.3vw rgba(255,153,0,1);
  filter: brightness(110%);
}
.zend{
  transition: 0.7s;
  border-radius: 50%;
  box-shadow: 0px 0px 4.56vw -0.9vw green;
}
.zend:hover{
  cursor: pointer;
  box-shadow: 0px 0px 4.56vw -0.3vw green;
  filter: brightness(110%);
}
.laravel{
  transition: 0.7s;
  border-radius: 50%;
  box-shadow: 0px 0px 4.56vw -0.9vw rgba(255,153,0,1);
}
/* phone rules end */

.technologiesHeading{
  position: relative;
  margin-top: 11.2vw;
  margin-left: 5.41vw;
}
.technologiesHeading h2{
  color: rgb(51,51,51);
  margin: 0;
  font-size: 2.9vw;
  font-family: 'Roboto-Light';
}

.technologiesArticle{
  position: relative;
  margin-left: 6vw;
  margin-top:6.4vw;
}
.technologiesArticle p{
  margin: 0;
  font-family: 'Roboto-Light';
  color: rgb(153,153,153);
  font-size: 1vw;
}

.technologiesReadMoreDiv{
  position: absolute;
  left: 16.753vw;
  bottom: 10.229vw;
}
.technologiesReadMoreDiv:hover{
  cursor: pointer;
}
.technoLineAnim{
  transition: 1s;
  border-radius: 2px;
  height: 0.27vw;
  width: 40%;
  background-color: rgb(255,180,0);
}
.technologiesReadMoreDiv h3{
  margin: 0;
  margin-top: 0.2vw;
  font-family: 'Montserrat-Bold';
  font-size: 1.635vw;
}
/* technologies section end */
/* discus new ideas section start */
.discussNewIdeas{
  overflow: hidden;
  position: relative;
  padding-top: 0.1px;
  height: 26.518vw;
  background-image: url('../images/desktop/disscusProjects.jpg');
  background-size: 100% 200%;
  background-position: 0 0;
}
.discussNewIdeas h2{
  position: relative;
  font-family: 'Roboto-Black';
  color: white;
  margin: 0;
  top: 9.629vw;
  left: 11.111vw;
  font-size: 2.37vw;
}
/* discus new ideas section end */
/* our workflow section start */
.workflow{
  background-color: #f9f9f9;
  overflow: hidden;
  width: 100%;
  position: relative;
  padding-bottom: 17.37vw;
}

.workflowHeadingContainer{
  position: relative;
  margin-top: 10.148vw;
  margin-left: 39.037vw;
}
.workFlowLine{
  position: relative;
  left: 0.5vw;
  height: 2px;
  width: 26.74vw;
  background-color: rgb(244,173,14);
}
.workflowHeadingContainer h2{
  margin: 0;
  font-size: 7vw;
  font-family: 'Roboto-Thin',serif;
  font-weight: 100;
  margin-bottom: -1.4vw;
  /* letter-spacing: -0.57vw; */
}
.workflowHeadingContainer h2 span{
  font-family: 'Roboto-Black',serif;
}

.workFlowVIdeoDiv{
  padding-left: 3px;
  position: relative;
  width:78.222vw;
  height: 38.286vw;
  float:right;
  margin-right: 7.32vw;
}
.workFlowVideoOverlay{
  position: absolute;
  left: 0;
  width: calc(100% + 3px);
  height: 38.286vw;
  background-color: rgba(0,0,0,0.48);
}
.workFlowYellowBox{
  background: linear-gradient(to bottom, rgba(242,180,65,1) 0%, rgba(228,154,18,1) 100%);
  width: 74.7vw;
  height: 49.414vw;
  position: absolute;
  top: 12vw;
  transform: skewX(41deg);
  left: -22vw;
  border-right: 1.2vw solid #e0ddeb;
  box-shadow: 1vw 0.44vw 5vw -2.59vw rgba(0,0,0,0.55);
}
.skewBoxInside{
  /* border: 2px solid red; */
  width: 47vw;
  height: 100%;
  /* background: red; */
  position: absolute;
  transform: skewX(-41deg);
  left: 22vw;
  bottom: 0;
}
.skewBoxInside h3{
  font-family: 'Roboto-BlackItalic';
  color: white;
  font-size: 4.4444vw;
  line-height: 0.9;
  margin: 0;
  margin-left: 7.125vw;
  margin-top: 10vw;
}

.wePromice{
  /* border: 1px solid yellow; */
  margin-left: 12.445vw;
}
.wePromice h4{
  margin: 0;
  margin-top: 3.5vw;
  font-size: 2.635vw;
  font-family: 'Roboto-Black';
}
.wePromice p{
  font-family: 'Roboto-Regular';
  font-size: 1.756vw;
  margin: 0;
  line-height: 1.5;
}

.closeContact{
  /* border: 1px solid blue; */
  margin-left: 12.445vw;
  margin-top: 3vw;
}
.closeContact p{
  font-family: 'Roboto-Regular';
  font-size:1.171vw;
  color: rgb(113,77,11);
}
.closeContact a{
  transition: 0.3s;
  text-decoration: none;
  color: rgb(149,98,5);
}
.closeContact a:hover{
  color: black;
}

.findOutMore{
  /* border: 1px solid white; */
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 1vw;
  left: 34vw;
}

.findOutMore p{
  color: white;
  font-family: 'Roboto-Regular';
  font-size: 1.756vw;
  margin-right: 1vw;
}

.findMoreButOutside{
  border-radius: 50%;
  background-color: rgb(210,142,17);
  width: 6.368vw;
  height: 6.368vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.findMoreButOutside:hover{
  cursor: pointer;
}
.findMoreBut{
  transition: 0.4s;
  border-radius: 50%;
  background-color: rgb(146,99,13);
  width: 2.855vw;
  height: 2.8552vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  font-size: 1.5vw;
}
.findMoreBut:hover{
  width: 6.368vw;
  height: 6.368vw;
}
/* our workflow section end */
/* bryon FeedBack Section start*/
.bryonFeedBackSection{
  background-color: #f9f9f9;
  padding: 0.1px;
}

.feedBackContainer{
  padding: 0.1px;
  position: relative;
  background-color: rgb(211,80,66);
  width: 77.5vw;
  height: 32vw;
  margin-left: 50%;
  left: -37.75vw;
  margin-bottom: 2vw;
}

.bryonProf{
  position: absolute;
  width: auto;
  height: auto;
  text-align: center;
  /* border: 1px solid white; */
  left: 3vw;
  top: 10vw;
}

.bryonProf img{
  width: 9.66vw;
  height: 9.66vw;
}
.bryonProf p{
  font-family: 'Roboto-Regular';
  font-size: 1.024vw;
  color: rgb(236,181,27);
  margin-top: -2vw;
}
.bryonProf a{
  font-family: 'Roboto-Regular';
  text-decoration: none;
  color: rgb(236,181,27);
  font-size: 0.878vw;
}

.feedBackContainer h2{
  margin: 0;
  margin-top: 4.17vw;
  font-family: 'Roboto-Regular';
  font-size: 2.63vw;
  color: white;
  text-align: center;
  margin-bottom: 1vw;
}

.feedBackInside{
  padding: 0.1px;
  position: relative;
  background: white;
  width: 52.41vw;
  height: 19.32vw;
  margin-left: 12.15vw;
  box-shadow: 1vw 0.44vw 5vw -2.59vw rgba(0,0,0,0.55);
}
.whiteTriangle {
  width: 0;
  height: 0;
  border: 5vw solid white;
  border-top: 1vw transparent solid;
  border-left: 5vw transparent solid;
  border-bottom: 2vw transparent solid;
  transform: rotate(10deg);
  position: absolute;
  left: -9.5vw;
  top: -0.90151vw;
}
.feedBackInside img{
  width: 7.467vw;
  height: 6.515vw;
  position: absolute;
  bottom: 0.878vw;
  right: 0.878vw;
}
.feedBackInside p{
  font-size: 1.317vw;
  font-family: 'Roboto-Regular';
  margin-top: 6.368vw;
  margin-left: 2.928vw;
  width: 37vw;
}

.halfCircle{
  display: flex;
  justify-content: center;
  position: absolute;
  width: 5.124vw;
  height: 5.124vw;
  border-radius: 50%;
  background-color: rgb(255,255,255,0.22);
  right: 5.563vw;
  top: 15.95vw;
}

.half{
  height: 100%;
  width: 5px;
  background-color: rgb(211,80,66);
}

/* bryon FeedBack Section end*/
/* from the blog section start */
.blogSection{
  /* background: rgb(226,231,236); */
  background: #f9f9f9;
  padding: 0.1px;
}

.blogSectionContainer{
  position: relative;
  overflow: hidden;
  padding-top: 0.1px;
  min-height: 42.15vw;
  background-color:#f9f9f9;
}
.blogSection h2{
  margin: 0;
  margin-left: 15vw;
  margin-top: 8.418vw;
  font-size: 5.333vw;
  margin-bottom: -1vw;
  /* font-family: 'Montserrat-ExtraLight',serif; */
  font-family: 'Roboto-Thin';
  font-weight: 100;
}
.blogSection h2 span{
  /* font-size: 3.51vw; */
  /* font-family: 'Montserrat-Black',serif; */
  font-family: 'Roboto-Black';
}

.blogArticle {
  flex-shrink: 0;
  /* border: 1px solid black; */
  position: relative;
  width: 62vw ;
  height: 22.79vw;
  margin-top: 8.74vw;
  margin-right: 3vw;
  margin-bottom: 4vw;
  margin-left: 15.324vw;
  background-color: #fff;
  height: 1;
  margin-left: 6.666vw;
  margin-right: 7vw;
}

.screwContainer{
  position: absolute;
  overflow: hidden;
  top: -0.855vw;
  left: -0.855vw;
  height: 24.5vw;
  width: 22.2vw;
  border-radius: 3px;
}
.screwDiv{
  width: 120%;
  height: 100%;
  border-radius: 1vw;
  border-bottom-right-radius: 0;
  position: relative;
  left: -12.3vw;
  /* background-color: rgb(237,170,47); */
  background: linear-gradient(to bottom, rgba(242,180,65,1) 0%, rgba(228,155,19,1) 100%);
  transform: skewX(-33deg);
}

.authorDiv{
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 2.928vw;
}
.authorDiv img{
  width: 4.782vw;
  height: 4.782vw;
}
.authorDiv p{
  font-family: 'Montserrat-Light',serif;
  font-size: 1vw;
  margin-left: 0.45vw;
  color: rgb(101,102,104);
}

.blogHttps{
  position: relative;
  /* width: 31.332vw;
  height: 21.327vw;
  top: -2vw;
  left: -2vw; */
  width: 25.77vw;
  height: 15.777vw;
  top: 0.5vw;
  left: 2vw;
}

.blogArticle h3 {
  font-family: 'Roboto-Black';
  margin: 0;
  margin-left: 6.4vw;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 2vw;
  font-size: 2.666vw;
}
.articleText{
  /* border: 1px solid; */
  /* font-family: 'Montserrat-ExtraLight',serif; */
  font-family: 'Roboto-Regular';
  font-size: 1.333vw;
  color: rgb(119,119,119);
  position: absolute;
  top: 7vw;
  left: 30vw;
  width: 29.359vw;
  text-align: justify;
  line-height: 1.6;
}
.articleButtonReadMore {
  transition: 0.4s;
  position: absolute;
  /* font-family: 'Montserrat-Bold',serif; */
  font-family: 'Roboto-Regular';
  width: 11.4vw;
  height: 2.518vw;
  bottom: 1.7vw;
  right: 9.111vw;
  color: black;
  font-size: 1.333vw;
  background-color: white;
  border: none;
  border: 2px solid rgb(230,183,41);
  border-radius: 6vw;
}
.articleButtonReadMore:hover{
  cursor: pointer;
  filter: brightness(120%);
}
/* from the blog section end */

.carBigContainer{
  position: absolute;
  width: 79.48vw;
  left: 10vw;
  height: 36.296vw;
  /* border: 1px solid blue; */
  overflow: hidden;
  background: rgb(226,231,236);
  /* left: 0; */

  /* -77vw */
}

.blogCarContainer {
  transition: 1s;
  background: rgb(226,231,236);
  /* border: 1px solid red; */
  position: relative;
  display: inline-flex;
  left: 0;
}

.leftCarArrowBox {
  transition: 0.3s;
  position: absolute;
  width: 5vw;
  overflow: hidden;
  height: 4.07vw;
  /* font-size: 2.5vw; */
  /* border: 1px solid red; */
  top: 17.74vw;
  right: 5.978vw;
}

.rightCarArrowBox{
  transition: 0.3s;
  transform: rotate(180deg);
  /* z-index: 1; */
  position: absolute;
  width: 5vw;
  overflow: hidden;
  height: 4.07vw;
  /* font-size: 2.5vw; */
  /* border: 1px solid red; */
  top: 17.74vw;
  right: 0.8vw;
}
.leftCarArrowBox:hover,.rightCarArrowBox:hover{
  cursor: pointer;
  filter: brightness(105%);
}

.insideLeftArrow{
  padding: 0.1px;
  width: 4.07vw;
  height: 4.07vw;
  /* border: 1px solid blue; */
  border-radius: 50%;
  position: relative;
  left: 3vw;
  background: rgb(235,238,242);
}
.insideLeftArrow p{
  font-size: 1.7vw;
  margin: 0;
  margin-top: 1.05vw;
  margin-left: 0.4vw;
  font-weight: 900;
  color: rgb(117,119,121);
}




/* footer */
footer{
  padding: 0.1px;
  position: relative;
  display: block;
  /* border: 1px solid red; */
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../images/desktop/footerBG.jpg");
}
.footerBG{
  width: 100%;
  height: 100%;
}

.AboutUs{
  width: 70%;
  margin-left: 15%;
  margin-top: 4vh;
}

.AboutUs h2{
  font-family: 'Roboto-Black';
  color:hsla(0,0%,100%,.5);
  font-size:2.48vw;
}
.AboutUs hr{
  height: 1vw;
  margin-top: 1vh;
  background: hsla(0,0%,100%,.5);
  border: none;
}
.AboutUs p{
  font-family: 'Roboto-Light';
  font-size: 1.317vw;
  color: white;
  text-align: justify;
}

.meetTheTeam{
  transition: 0.4s;
  font-family: 'Roboto-Light';
  font-size: 1.564vw;
  color: white;
  width: 17.3vw;
  height: 4.392vw;
  background-color: hsla(360,100%,49%,.5);
  border: 2px solid white;
  border-radius:4vw;
  position: relative;
  margin-left: 50%;
  left: -8.65vw;
  font-weight: 700;
  margin-top: 1vh;
}

.meetTheTeam:hover{
  background-color: #f5cc18;
}

.contactUs{
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  margin-top: 10vh
}
.contactUs h2{
  font-size: 6vh;
  font-family: 'Roboto-Black';
  margin: 0;
  color: white;
}
.contactUs h4{
  font-family: 'Roboto-Light';
  font-size: 2vh;
  font-weight: 400;
  color: white;
  margin-top: 0;
}

.contactUs .fa-skype{
  color: #00afef;
}

.fa-phone{
  color: red;
}

.contactUs i{
  margin-bottom: 20px;
  font-size: 1.8vh;
}

.contactUs i span{
  font-family: 'Montserrat-Light';
  color:white;
  margin-left: 1vw;
  font-size: 1.317vh;
}
.footDiv{
  background-color: #000;
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 2vh 0;
  border-top: .5px solid #616161;
}

.foterSocialMedia{
  color: white;
  display: flex;
}

.foterSocialMedia .fab{
  border: 2px solid white;
  border-radius: 50%;
  font-size: 1.3vh;
  width: 3vh;
  height: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5vw;
}
.foterSocialMedia a{
  text-decoration: none;
  color: white;
}

.footDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footDiv img{
  width: 17.22vw;
  height: 2.537vw
}

.footDiv p{
  font-family: 'Roboto-Light';
  font-size: 0.8vw;
  font-weight: 400;
  color: white;
}

/* fixed contact us */

.fixedSideContactUs{
  z-index: 4;
  position: absolute;
  left: -10.7vw;
  /* top: 1vw; */
  /* top: 42%; */
  top: 139vw;
  height: 1vw;
  display: flex;
  align-items: center;
  transform: rotate(90deg);
}
.fixedSideContactUs:hover{
  cursor: pointer;
}
.horisontalLine{
  width: 15.55vw;
  height: 1px;
  background-color: rgb(233,136,45);
}
.fixedSideContactUs p{
  color:rgb(233,136,45);
  font-family: 'Roboto-Bold';
  font-size: 1.333vw;
  margin-left: 0.888vw;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}






/* hide desktop */
.hideDesktop{
  display: none;
}

/* MOBILE MEDIA */
/* MOBILE MEDIA */
/* MOBILE MEDIA */
@media (orientation:portrait){
  .hideDesktop{
    display: block;
  }
  .rectWorkImageBox{
    flex-direction: column;
  }
  .imgBox{
    width: 100%;
    height: 33.333vh;
    margin-top: 1vw;
  }
  .imgBox::before {
    content: none;
  }
  /* recent projects */
  .webDevelopment{
    bottom: 0vw;
    left: -60vw;
  }

  .webDevelopment p{
    font-size: 8vw;
  }
  .narrowBG{
    left: 30vw;
  }
  .homeDesign{
    left: 60vw;
    top:0;
  }
  .homeDesign a, .homeDesign span{
    font-size:4.2vw;
  }
  /* whatwe do text section */

  .whatWeDoHtwo{
    font-size: 8vw;
  }

  /* what we do */
  .whatWeDo{
    padding: 0.1px;
  }
  .whatWeDoHtwo{
    font-size: 8vw;
  }
  /* 4 img grid */
  .fourImgGrid{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: auto;
  }
  .fourImgGrid>div{
    height: 100%;
  }
  .gridParaBox {
    bottom: 4vw;
    text-align: center;
    left: 0;
    width: 100%;
  }
  .gridParaBox p:nth-child(1){
    font-size: 10.7vw;
  }
  .gridParaBox p:nth-child(2){
    font-size: 10.7vw;
  }
  .gear{
    height: 6vh;
    top: 8vh;
  }

  .blackLayerInside{
    text-align: center;
    width: 100%;
    left: 0;
  }
  .blackLayerInside h2{
    font-size:10.26vw;
    margin-bottom: 3vh;
    margin-top:1.5vw;
  }
  .blackLayerInside p{
    width: auto;
    font-size: 3.4vw;
    margin-top: 0;
    margin-left: 5%;
    margin-right: 5%;
  }
  .readMoreDiv {
    font-size: 4.635vw;
    bottom: 1vh;
    right: 24vw;
  }
  .readMoreAnimDiv {
    width: 40%;
    border-radius: 5px;
    height: 1.27vw;
  }
  /* maintenance */
  .purpScreen {
    width: 59.353vw;
    height: 62.5vw;
    top: 5.6vw;
    left: 25vw;
  }
  .purpTablet {
    position: absolute;
    width: 25vw;
    height: 40.86vw;
    top: 16.37vw;
    left: 21.6vw;
  }
  .purpleTabletGear {
    top: 26vw;
    left: 26vw;
    width: 16vw;
    height: 16vw;
  }
  .purpleScreenGear {
    width: 21vw;
    left: 51vw;
    height: 21vw;
    top: 13vw;
  }

  .supMain {
    text-align: center;
    right: auto;
    top: 63.2vw;
    width: 100%;
  }
  .supMain h2{
    font-size:10.8vw;
  }
  .supportAndMaintance {
    min-height: 100vh;
  }
  .supMainText {
    text-align: center;
    font-size: 4.2vw;
    top: 94.9vw;
    padding: 5vw;
    right: auto;
  }

  .contactUsMaintenance {
    right: 13.45vw;
    bottom: 17.5vw;
  }

  .maintenanceLineAnim {
    height: 2.27vw;
    border-radius: 14px;
    top: 4vw;
  }

  .contactUsButtonText{
    height: 14vw;
  }

  .contactUsButtonText h3 {
    font-size: 6.779vw;
    margin-right: -4vw;
    margin-top: -3vw;
  }

  .svgArrow {
    width: 27vw !important;
    height: 26vw !important;
  }

  .discussNewIdeas{
    height: 56.5vw;
    background-size: 200% 200%;
  }
  .discussNewIdeas h2{
    top: 4.629vw;
    font-size: 4.3vw;
  }
  .contUsHearFromYou{
    bottom: 23vw;
    right: -3vw;
  }
  /* blog */
  .carBigContainer {
    height: 150vw;
    width: 100%;
    left: auto;
  }
  .blogSectionContainer{
    min-height: 152.15vw;
  }
  .blogSection h2{
    font-size: 8vw;
  }
  .blogSection h2 span{
    font-size: 8vw;
  }
  .blogArticle{
    width: 95vw;
    margin-left: 2.5vw;
    min-height: 132.79vw;
  }
  .screwContainer{
    width:97vw;
  }
  .screwDiv{
    width: 115%;
  }
  .authorDiv img {
    width: 9.782vw;
    height: 9.782vw;
  }
  .authorDiv p {

    font-size: 3vw;
    margin-left: 1vw;
    color: rgb(101,102,104);
  }
  .blogSection h2{
    /* margin-left: 0vw; */
  }
  .blogArticle h3 {
    top: 13vw;
    font-size: 5.928vw;
    margin-left: 0vw;
  }

  .blogHttps {
    width: 96.332vw;
    height: 38.327vw;
    top: 13vw;
    left: -1vw;
  }
  .articleText {
    font-size: 4.3vw;
    color: black;
    position: absolute;
    top: 63vw;
    left: 7vw;
    width: 80.359vw;
    text-align: justify;
  }
  .articleButtonReadMore {
    width: 50%;
    height: 8.928vw;
    bottom: 2.415vw;
    right: auto;
    left: 25%;
    font-size: 4.464vw;
  }
  /* tecnhologies */
  .technologies {
    height: 100vh;
  }
  .technoPhone {
    width: 56vh;
    height: 101vh;
    transform: rotate(19deg);
    top: 0;
    left: 0vh;
  }
  .technoMobileFlexContainer {
    width: 63vw;
    top: 124.5vw;
    left: 18vw;
  }
  .technoFlexDiv img {
    width: 14.8vw;
    height: 15vw;
  }
  .technoFlexDiv p {
    font-family: 'Montserrat-Light',serif;
    /* color: rgb(122,127,117); */
    font-size: 2.9vw;
    text-align: center;
    position: relative;
    margin: 0;
    /* margin-left: -1vw; */
    margin-top: 3.2vw;
  }
  .technoMobileLittleGrid {
    width: 59vw;
    height: 51vw;
    top: 61vw;
    left: 19vw;
  }
  .wooImage {
    width: 49vw;
    height: 9vw;
  }
  .magentoImage {
    width: 27vw;
    height: 27vw;
    top: -5.5vw;
    left: -3vw;
  }
  .drupalImage {
    width: 46vw;
    height: 44vw;
    top: -14.5vw;
    left: -12.2vw;
  }
  .nodeDiv {
    left: 8vw;
    top: 13vw;
  }
  .nodeJS {
    width: 38.11vw;
    height: 38.3vw;
  }
  .nodeDiv p {
    font-size: 3.9vw;
    margin-top: -7vw;
  }

  .angularDiv {
    left: 30.5vw;
    top: 14vw;
  }
  .angularJS {
    width: 37.11vw;
    height: 37.3vw;
  }
  .angularDiv p {
    font-size: 3.9vw;
    margin-top: -7vw;
  }

  .reactDiv {
    left: 49.7vw;
    top: 14vw;
  }
  .reactJS {
    width: 41.11vw;
    height: 42.3vw;
  }
  .reactDiv p {
    font-size: 3.9vw;
    margin-top: -12vw;
  }
  .AboutUs h2{
    font-size: 7.5vw;
  }
  .AboutUs p{
    font-size: 3.2vw;
  }

  .meetTheTeam {
    font-size: 3.564vw;
    width: 33vw;
    height: 9.392vw;
    border-radius: 6vw;
    left: -15vw;
    margin-top: 6vh;
  }
}
