header{
  padding-top: 0.1px;
  background: linear-gradient(135deg, #e6b929 0%, #e0c366 100%);
  background-size: 100% 100%;
  position: relative;
  height: calc(100vh + 6vw);
}

.videoDiv{
  padding-top: 0.1px;
  top: 0.9vw;
  margin-left: 6.11vw;
  position: relative;
  height: 25.648vw;
  width: 86.357vw;
  border: 1px solid white;
  box-shadow: 0px 9.44vw 10vw -5.59vw rgba(0,0,0,0.55);
  /* outline: 1.111vw solid #e0ddeb; */
}
.videoDiv img{
  position: relative;
  width: 100%;
  height: 100%;
}

.solidCodeUsBlog{
  margin-left: 5.5vw;
  position: absolute;
  bottom: 6.5vw;
}
.solidCodeUsBlog p{
  font-size: 4.444vw;
  margin: 0;
  color: white;
}
.solidCodeUsBlog p:nth-child(1){
  margin-bottom: -1.2vw;
  font-family: 'Montserrat-ExtraLight',serif;
}
.solidCodeUsBlog p:nth-child(2){
  font-family: 'Montserrat-Black',serif;
}

main{
  min-height: 5vw;
  position: relative;
  padding-top: 0.1px;
  padding-bottom: 0.1px;
  background-color: #e0ddeb;
}
.narrowWrapper{
  position: absolute;
  top: -6vw;
  left:0;
  width: 100%;
  overflow:hidden;
  height: 6vw;
}
.narrowBG{
  box-shadow: 1.7vw 7px 50px -30px rgba(0,0,0,0.75);
  height: 200vw;
  width: 56vw;
  position: absolute;
  background-color: #e0ddeb;
  transform: rotate(18deg);
  top: -15vw;
  left: -36vw;
}
.homeDesign{
  position: relative;
  left: 4vw;
  top: 4vw;
}
.homeDesign a,.homeDesign span{
  font-family: 'Montserrat-Bold',serif;
  color: white;
  text-decoration: none;
  font-size: 1.2vw;
}
.homeDesign a:hover{
  text-decoration: underline;
}
.content{
  /* border: 1px solid black; */
  padding-top: 0.1px;
  padding-bottom: 4vw;
  position: relative;
  left: 5%;
  top: -0vw;
  background-color: rgb(244,244,244);
  width: 95%;
  min-height: 10vw;
  /* height: 100%; */
}

/* gears */
.gearOne {
  position: absolute;
  top: 4vw;
  left: 39vw;
  background-size: 100% 100%;
  width: 5vw;
  height: 5vw;
  background-image: url('../images/desktop/SEO/gearOne.png');
  animation-name: gearOne;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes gearOne {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.gearTwo {
  position: absolute;
  top: 9.5vw;
  left: 38.7vw;
  background-size: 100% 100%;
  width: 4vw;
  height: 4vw;
  background-image: url('../images/desktop/SEO/gearTwo.png');
  animation-name: gearTwo;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes gearTwo {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(-360deg);
  }
}
